@model PostCardViewModel

<div class="tm-special-item">
    <div class="tm-special-img-container">
        <img src="@Model.ImagePath" alt="Special" class="tm-special-img img-responsive">
        <a href="@Model.PostLink">
            <div class="tm-special-description">
                <h3 class="tm-special-title">@Model.Title</h3>
                <p>@Model.SubTitle</p>
            </div>
        </a>
    </div>
</div>