@model CoffeeBlog.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<div class="container">
    <a class="page-link" asp-area="Administration" asp-controller="Posts" asp-action="Index">Posts Panel</a>

    <a class="page-link" asp-area="Administration" asp-controller="Tags" asp-action="Index">Tags Panel</a>
</div>