@model PostDetailsViewModel
@{
    this.ViewData["Title"] = Model.Post.Title;
}

@await Html.PartialAsync("/Views/Shared/Partials/_BannerPartial.cshtml", new BannerViewModel
    {
        ImagePath = "/img/home-bg.jpg",
        Heading = Model.Post.Title,
        SubHeading = Model.Post.Title,
    })

<div class="container">
    @Html.Raw(Model.Post.Content)

    <div class="row mt-4">
        @foreach (var tag in Model.RelatedTags)
        {
            <a href="/Tags/@tag.Id" class="btn btn-outline-info mr-2">@tag.Title</a>
        }
    </div>
</div>
