@model IQueryable<Post>
@{
    this.ViewData["Title"] = "Всички Постове";
}

@await Html.PartialAsync("/Views/Shared/Partials/_BannerPartial.cshtml", new BannerViewModel
    {
        ImagePath = "/img/home-bg.jpg",
        Heading = "Всички постове",
        SubHeading = "Вижте всички постове",
    })

<div class="container">
    <div class="row">
        @foreach (var post in Model)
        {
            @await Html.PartialAsync("/Views/Shared/Partials/_PostCardPartial.cshtml", new PostCardViewModel
                {
                    ImagePath = post.PreviewImagePath,
                    Title = post.Title,
                    SubTitle = post.Title,
                    PostLink = $"/Posts/Details/{post.Id}",
                    ButtonText = "Прочети",
                })
        }
    </div>
</div>