@using CoffeeBlog.Common

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/css/templatemo-style.css" rel="stylesheet" asp-append-version="true" />

</head>

<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <partial name="_Header" />
    <partial name="_CookieConsentPartial" />

    @this.RenderBody()

    <partial name="_Footer" />

    <script src="~/js/jquery-1.11.2.min.js" asp-append-version="true"></script>
    <script src="~/js/templatemo-script.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>